# Windows / macOS system files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Editor files
.vscode/
.idea/
*.suo
*.user
*.userossc
*.sln.docstates

# Temporary files
*.tmp
*.log
*.bak

# Credentials and Environment files
.env
.env.local
.env.enterprise
.env.development
.env.production

